<div class="bjui-pageHeader">
    <form id="pagerForm" data-toggle="ajaxsearch" action="{:U($Think.ACTION_NAME)}" method="post">
        <input type="hidden" name="pageSize" value="{$Think.session.pageSize}">
        <input type="hidden" name="pageCurrent" value="{$Think.session.pageCurrent}">
        <input type="hidden" name="orderField" value="{$Think.session.orderField}">
        <input type="hidden" name="orderDirection" value="{$Think.session.orderDirection}">
        <div class="bjui-searchBar">
            <label>{$Think.lang.level_name}：</label><input type="text" name="search[rankName]" value="{$search.rankName}" class="form-control" size="10" />
            <label>ID：</label><input type="text" name="search[rankId]" value="{$search.rankId}" class="form-control" size="10" /></li>
            <button type="submit" class="btn-default" data-icon="search">{$Think.lang.search}</button>
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">{$Think.lang.operation}<span class="caret"></span></button>
                    <ul class="dropdown-menu right" role="menu">
                        <li><a href="{:U('toEdit')}" data-toggle="dialog" data-width="400" data-height="250" data-id="dialog-mask" data-mask="true">{$Think.lang.new_add}</a></li></ul>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="bjui-pageContent">
    <!-- 内容区 -->
    <table data-toggle="tablefixed" data-width="100%" data-nowrap="true">
        <thead>
            <tr>
                <th>Id</th>
                <th>{$Think.lang.level_name}</th>
                <th>{$Think.lang.credit_fr}</th>
                <th>{$Think.lang.credit_to}</th>
                <th>{$Think.lang.discount}</th>
			    <th>{$Think.lang.operation}</th>
            </tr>
        </thead>
        <volist name="list" id="vo">
            <!-- <tr aid="{$vo.aid}">
                <volist name="tableFields" id="tvo">
                    <td>{$vo.$key}</td>
                </volist>
                <td>
                    <if condition="$vo.email eq C('ADMIN_AUTH_KEY')">
                        <else/><a href="__URL__/editAdmin/uid/{$vo.uid}" data-toggle="modal" data-target="#myModal">编辑</a></if> 
                </td>
            </tr> -->
            <tr aid="{$vo.rankId}">
				<td>{$vo['rankId']}</td>
				<td>{$vo['rankName']}</td>
				<td>{$vo['startScore']}</td>
				<td>{$vo['endScore']}</td>
				<td>{$vo['rebate']}</td>
				<td>
				    <a class="btn btn-default glyphicon glyphicon-pencil" href="{:U('toEdit',array('rankId' => $vo['rankId']))}" data-toggle="dialog" data-width="400" data-height="250" data-id="dialog-mask" data-mask="true">{$Think.lang.edit}</a>
				    <a class="btn btn-red glyphicon glyphicon-trash" data-confirm-msg="{$Think.lang.delete_confirm}" data-toggle="doajax" href="{:U('del',array('rankId' => $vo['rankId']))}">{$Think.lang.delete}</a>
				</td>
			</tr>
        </volist>
    </table>
</div>

<include file="./App/Common/View/Common/pageFooter.html" />