<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中奖名单</title>
<link href="css/admin.css?v=2015.11.18_17.48" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="topbar">
	<span><a href="./?m=admin" target="_self">管理中心</a> | <a href="./?m=admin&a=logout" target="_self">退出</a></span>
</div>
<div class="db">
	<h3>中奖名单</h3>
	<table align="center" border="1" cellpadding="5" cellspacing="0" bgcolor="#FDF2F2">
		<tr>
			<td bgcolor="#F0C090">序号</td>
			<td bgcolor="#F0C090">头像</td>
			<td bgcolor="#F0C090">姓名</td>
			<td bgcolor="#F0C090">邮箱</td>
			<td bgcolor="#F0C090">中奖时间</td>
			<td bgcolor="#F0C090">奖品</td>
		</tr>
		<cmd>$isColor = false;</cmd>
		<cmd>$index = 1;</cmd>
		<cmd>foreach ($winner as $value) {</cmd>
			<tr>
				<cmd>if ($isColor) {</cmd>
					<td bgcolor="#F1EDFE">{#$index#}</td>
					<td bgcolor="#F1EDFE"><img src="{#$value['photo']#}" width="62px" height="62px"/></td>
					<td bgcolor="#F1EDFE">{#$value['username']#}</td>
					<td bgcolor="#F1EDFE">{#$value['email']#}</td>
					<td bgcolor="#F1EDFE">{#$value['luckydate']#}</td>
					<td bgcolor="#F1EDFE">{#Config::$prizeName[$value['prizeid'] - 1]#}</td>
				<cmd>} else {</cmd>
					<td>{#$index#}</td>
					<td><img src="{#$value['photo']#}" width="62px" height="62px"/></td>
					<td>{#$value['username']#}</td>
					<td>{#$value['email']#}</td>
					<td>{#$value['luckydate']#}</td>
					<td>{#Config::$prizeName[$value['prizeid'] - 1]#}</td>
				<cmd>}</cmd>
				<cmd>$isColor = !$isColor;</cmd>
				<cmd>$index++;</cmd>
			</tr>
		<cmd>}</cmd>
	</table>
</div>
</body>
</html>
