<div class="bjui-pageContent">
    <form action="{:U('edit')}" id="myform" class="pageForm" data-toggle="validate" data-reload-navtab="true" name="myform" role="form">
        <input type='hidden' id='id' name='id' value='{$object.catId}'/>
        <input type='hidden' id='parentId' name='parentId' value='{$object.parentId}'/>
        <input type='hidden' id='addChild' name='addChild' value='true'/>
        <table class="table table-hover table-striped table-bordered wst-form">
           <tr>
             <th width='120' align='right'>{$Think.lang.cat_name}<font color='red'>*</font>：</th>
             <td><input type='text' id='catName' name="catName" class="form-control wst-ipt" value='{$object.catName}' maxLength='25'/></td>
           </tr>
           <tr>
             <th width='120' align='right'>{$Think.lang.is_show}<font color='red'>*</font>：</th>
             <td><input type='radio' id='isShow1' value='1' name='isShow' <if condition="$object['isShow'] ==1 ">checked</if>/>{$Think.lang.show}
                    <input type='radio' id='isShow0' value='0' name='isShow' <if condition="$object['isShow'] ==0 ">checked</if>/>{$Think.lang.hidden}
             </td>
           </tr>
           <tr>
             <th align='right'>{$Think.lang.sort}:</th>
             <td>
             <input type='text' id='catSort' name='catSort' class="form-control input-sm" value='{$object.catSort}' style='width:80px' onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)" maxLength='8'/>
             </td>
           </tr>
           <tr>
             <th align='right'>{$Think.lang.lang}:</th>
             <td>
             <select id='adLang' name="lang">
                          <option value='0' <if condition="$object['lang'] == 0 ">selected</if>>English</option>
                          <option value='1' <if condition="$object['lang'] == 1 ">selected</if>>French</option>
                          <option value='2' <if condition="$object['lang'] == 2 ">selected</if>>Arab</option>
                       </select>
             </td>
           </tr>
    </table>
        </form>
    </div>
    
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">{$Think.lang.close}</button></li>
		<!-- <li><button type="submit" class="btn-default" data-icon="save">保存</button></li> -->
		<li><button id="submit" type="submit" class="btn btn-success" data-icon="save">{$Think.lang.save}</button></li>
	</ul>
</div>
<script src="__PUBLIC__/Js/functions.js"></script>