<div class="bjui-pageHeader">
	<form action="{:U(edit)}"  method="POST" class="pageForm" data-toggle="validate" data-reload="true">
		<input type="hidden" name="act" value="add" />
		<select name="parentId" data-toggle="selectpicker" data-rule="required">
			<option value="">{$Think.lang.select_cat}</option>
			<option value="0">{$Think.lang.top_level}</option>
			<volist name="list" id="vo">
			    <option value="{$vo.catId}">{$vo.catName}</option>
			</volist>
		</select> 
		<input placeholder="{$Think.lang.new_menu}" id="newName" type="text" name="catName" value="" data-rule="required" />
		<input placeholder="{$Think.lang.sort}" id="catId" type="text" name="catSort" value="" data-rule="required" />
		<select id='adLang' name="lang">
                          <option value='0' >English</option>
                          <option value='1' >French</option>
                          <option value='2' >Arab</option>
                       </select>
		<button type="submit" class="btn-default">{$Think.lang.submit}</button>
		<span><a class="btn btn-orange" href="javascript:;" onclick="$(this).navtab('reloadForm', true);" data-icon="undo">{$Think.lang.refresh}</a></span>
		<!-- <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn-default dropdown-toggle" data-toggle="dropdown" data-icon="copy">功能操作<span class="caret"></span></button>
                    <ul class="dropdown-menu right" role="menu">
                        <li><a href="{:U('toEdit')}" data-toggle="dialog" data-width="600" data-height="300" data-id="dialog-mask" data-mask="true">新增数据</a></li></ul>
                </div>
            </div> -->
	</form>
</div>

<div class="bjui-pageContent">
	<!-- 内容区 -->
	<form action="{:U(edit)}"  method="POST" class="pageForm" data-toggle="validate" data-reload="true">
	<table class="table table-bordered table-hover table-striped table-top" data-layout-h="0" data-selected-multi="true">
		<thead>
			<tr>
				<!-- <th>序号</th> -->
				<th>ID</th>
				<th>{$Think.lang.cat_name}</th>
				<th>{$Think.lang.sort}</th>
				<th>{$Think.lang.operation}</th>
				<th>{$Think.lang.lang}</th>
				<th>{$Think.lang.operation}</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="tree" key='i'>
			<tr id='tr_0_{$i}' class="tr_0">
				<!-- <td>{$i}</td> -->
				<td>{$tree.catId}</td>
				<td><input type="text" onchange='javascript:editName(this)' dataId='{$tree.catId}' value="{$tree.catName}" name="catName" maxLength='50'></td>
				
				<td><input type="text" onchange='javascript:editSort(this)' dataId='{$tree.catId}' value="{$tree.catSort}" name="catSort" maxLength='50'></td>
				<td>
					<div class="dropdown">
						<if condition="$tree['isShow']==0 ">
						<button class="btn btn-danger dropdown-toggle wst-btn-dropdown"
							id='btn_{$tree[' catId']}' type="button" data-toggle="dropdown">
							{$Think.lang.hidden}<span class="caret"></span>
						</button>
						<else />
						<button class="btn btn-success dropdown-toggle wst-btn-dropdown"
							id='btn_{$tree[' catId']}' type="button" data-toggle="dropdown">
							{$Think.lang.show} <span class="caret"></span>
						</button>
						</if>

						<ul class="dropdown-menu" role="menu"
							aria-labelledby="btn_{$tree['catId']}">
							<li role="presentation"><a role="menuitem" tabindex="-1"
								href="javascript:toggleIsShow(1,{$tree['catId']})">{$Think.lang.show}</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1"
								href="javascript:toggleIsShow(0,{$tree['catId']})">{$Think.lang.hidden}</a></li>
						</ul>

					</div>
				</td>
				<td><if condition="$tree['lang']==0 ">English<elseif condition="$tree['lang']==1 "/>French<else />Arab</if></td>
				<td>
				<a href="{:U('del?id=' . $tree[catId])}" class="btn btn-red glyphicon glyphicon-trash" data-toggle="doajax" data-confirm-msg="{$Think.lang.delete_confirm}">{$Think.lang.delete}</a>
				<a href="{:U('toEdit?id=' . $tree[catId])}" class="btn btn-default glyphicon glyphicon-pencil" data-toggle="dialog" data-width="600" data-height="300" data-id="dialog-mask" data-mask="true">{$Think.lang.edit}</a>
				<a class="btn btn-default glyphicon glyphicon-plus" data-toggle="dialog" data-width="600" data-height="300" data-id="dialog-mask" data-mask="true" href="{:U('toEdit',array('parentId'=>$tree[catId]))}" >{$Think.lang.add_child}</a>&nbsp;
				<!-- <button data-toggle="doedit" class="btn btn-green" type="button">编辑</button> -->
				</td>
			</tr>
			
			</volist>
		</tbody>
	</table>
	</form>
</div>
<script type="text/javascript">
function editName(obj){
	   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
	   $.post("{:U('Admin/ArticleCats/editName')}",{id:$(obj).attr('dataId'),catName:obj.value},function(data,textStatus){
			var json = WST.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000});
				$(this).navtab('refresh');  
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
		});
}
function editSort(obj){
	   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
	   $.post("{:U('Admin/ArticleCats/editSort')}",{id:$(obj).attr('dataId'),catSort:obj.value},function(data,textStatus){
			var json = WST.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000});
				$(this).navtab('refresh');  
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
		});
}
function toggleIsShow(t,v){
	   Plugins.waitTips({title:'信息提示',content:'正在操作，请稍后...'});
	   $.post("{:U('Admin/ArticleCats/editiIsShow')}",{id:v,isShow:t},function(data,textStatus){
			var json = WST.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({content:'操作成功',timeout:1000,callback:function(){
				   //location.reload();
					  $(this).navtab('refresh');  
				}});
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
	   });
}
</script>