<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.4, minimum-scale=0.4, maximum-scale=0.4, user-scalable=no" />
<title>itel survey</title>
<link href="css/game.css?v=2015.12.25_14.04" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.11.2.min.js" type="text/javascript" language="javascript"></script>
<script src="js/main.js?v=2015.12.25_14.04" type="text/javascript" language="javascript"></script>
</head>

<body>
<div class="faq">
	<div class="info">
		<div class="sign2"></div>
		<p class="title">FAQs</p>
		<div class="clear"></div>
		<p class="content">Chers fans, pour célébrer la période de Noel et vous 
	remercier de votre soutien inconditionnel, on aimerait 
	faire un bref sondage pour rendre vos vœux 
	réalisables ! Vous aurez une chance de gagner des 
	cadeaux de Noel Itel – des smarphones Itel ou bien 
	des cadeaux spéciaux après avoir complété ce 
	sondage. Merci !</p>
	</div>
	<div class="list">
		<ul>
			<li>
				<div class="sign"></div>
				<p class="question">No.1 Sexe</p>
				<div class="clear"></div>
				<a href="javascript:void(0);"><p class="answer q1">Masculin</p></a>
				<a href="javascript:void(0);"><p class="answer q1">Féminin</p></a>
			</li>
			<li>
				<div class="sign"></div>
				<p class="question">No.2 Age</p>
				<div class="clear"></div>
				<a href="javascript:void(0);"><p class="answer q2">Moins de 18</p></a>
				<a href="javascript:void(0);"><p class="answer q2">19-25</p></a>
				<a href="javascript:void(0);"><p class="answer q2">26-30</p></a>
				<a href="javascript:void(0);"><p class="answer q2">plus de 30</p></a>
			</li>
			<li>
				<div class="sign"></div>
				<p class="question">No.3 Profession</p>
				<div class="clear"></div>
				<a href="javascript:void(0);"><p class="answer q3">Etudiant</p></a>
				<a href="javascript:void(0);"><p class="answer q3">employé de bureau</p></a>
				<a href="javascript:void(0);"><p class="answer q3">homme d’affaires</p></a>
				<a href="javascript:void(0);"><p class="answer q3">employé civil</p></a>
				<a href="javascript:void(0);"><p class="answer q3">indépendant</p></a>
			</li>
			<li>
				<div class="sign"></div>
				<p class="question">No.4 Qu’est-ce qui vous 
	intéresse le plus sur les 
	produits Itel ?</p>
				<div class="clear"></div>
				<a href="javascript:void(0);"><p class="answer q4">La batterie</p></a>
				<a href="javascript:void(0);"><p class="answer q4">la taille de l’écran</p></a>
				<a href="javascript:void(0);"><p class="answer q4">la camera</p></a>
				<a href="javascript:void(0);"><p class="answer q4">la ROM et la RAM</p></a>
				<a href="javascript:void(0);"><p class="answer q4">la fonction TV</p></a>
				<a href="javascript:void(0);"><p class="answer q4">autres (spécifiez svp <input id="q4f" type="text" /> )</p></a>
			</li>
			<li>
				<div class="sign"></div>
				<p class="question">No.5 Quel model Itel aimez-
	vous le plus ?</p>
				<div class="clear"></div>
				<a href="javascript:void(0);"><p class="answer q5">It1701</p></a>
				<a href="javascript:void(0);"><p class="answer q5">it1505</p></a>
				<a href="javascript:void(0);"><p class="answer q5">it1407</p></a>
				<a href="javascript:void(0);"><p class="answer q5">it1506</p></a>
				<a href="javascript:void(0);"><p class="answer q5">autres (spécifiez svp <input id="q5f" type="text" /> )</p></a>
			</li>
			<li>
				<div class="sign"></div>
				<p class="question">No.6 Lorsque vous vous 
	procurerez votre prochain 
	téléphone Itel, quel sera le 
	facteur le plus important 
	dans votre décision ?</p>
				<div class="clear"></div>
				<a href="javascript:void(0);"><p class="answer q6">Séries de grosses batteries</p></a>
				<a href="javascript:void(0);"><p class="answer q6">5.5’’ HD</p></a>
				<a href="javascript:void(0);"><p class="answer q6">tablettes 7’’</p></a>
				<a href="javascript:void(0);"><p class="answer q6">produits avec 16G de ROM</p></a>
				<a href="javascript:void(0);"><p class="answer q6">autres (spécifiez svp <input id="q6f" type="text" /> )</p></a>
			</li>
			<li>
				<div class="sign"></div>
				<p class="question">No.7 Connaissez-vous le 
	service après-vente 
	CARLCARE ?</p>
				<div class="clear"></div>
				<a href="javascript:void(0);"><p class="answer q7">Oui</p></a>
				<a href="javascript:void(0);"><p class="answer q7">pas encore</p></a>
			</li>
		</ul>
	</div>
	<div class="footer">
		<img src="./images/icon_flower.jpg" class="icon" />
		<p class="t1">&nbsp;Merci d’avoir rempli le sondage.Il y aura un 
	tirage au sort, les vainqueurs seront annoncés 
	le 4 Janvier 2016 via Facebook. Svp soyez 
	très attentif.</p>
	</div>
	<div class="submit">
		<div class="btn">
			<a href="javascript:void(0);"><p>Submit</p></a>
		</div>
	</div>
</div>
{#Config::$countCode#}
</body>
</html>
