body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:742px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:180px;
  top:190px;
  width:562px;
  height:268px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:268px;
}
#u1 {
  position:absolute;
  left:2px;
  top:126px;
  width:558px;
  visibility:hidden;
  word-wrap:break-word;
}
