<div class="bjui-pageContent">
    <form action="{:U($Think.ACTION_NAME)}" id="addForm" class="pageForm" data-toggle="validate" data-reload-navtab="true">
        <input type="hidden" id="pk" name="info[id]" value="{$info.id}">
        <table class="table table-condensed table-hover" width="100%">
            <tbody>
                <tr>
                    <td colspan="2">
                        <label class="control-label x100">{$Think.lang.title}：</label>
                        <input id="title" type="text" name="info[title]" value="{$info.title}" size="60" />
                        <a href="javascript:void(0)" id="checkNewsTitle">{$Think.lang.check_duplicate}</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="control-label x100">{$Think.lang.article_cat}：</label>
                        <select name="info[cid]" data-toggle="selectpicker" data-width="300">
                            <volist name="list" id="vo">
                                
                                <option value="<?php echo $vo[catId];?>" <if condition="$vo[catId] eq $info[cid]">selected="selected"</if>>
                                    <?php echo $vo[catName];?>
                                </option>
                            </volist>
                        </select>
                    </td>
                    <td>
                        <label class="control-label x100">{$Think.lang.publish_status}：</label>
                        <input type="radio" name="info[status]" data-toggle="icheck" value="0" data-rule="checked" data-label="{$Think.lang.auditing}" <if condition="$info.status eq 0">checked</if>>
                        <input type="radio" name="info[status]" data-toggle="icheck" value="1" data-label="{$Think.lang.publish}" <if condition="$info.status eq 1">checked</if>>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="control-label x100">{$Think.lang.keywords}：</label>
                        <input type="text" name="info[keywords]" value="{$info.keywords}" placeholder="{$Think.lang.keyword_muti}" size="60" /> {$Think.lang.keyword_muti}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="control-label x100">{$Think.lang.article_desc}：</label>
                        <textarea name="info[description]" style="width:784px;height:50px" data-toggle="autoheight">{$info.description}</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="control-label x100">{$Think.lang.article_summary}：</label>
                        <textarea name="info[summary]" style="width:784px;height:50px" data-toggle="autoheight">{$info.summary}</textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="control-label x100">{$Think.lang.lang}：</label>
                        <select id='adLang' name="info[lang]">
                          <option value='0' <if condition="$info['lang'] == 0 ">selected</if>>English</option>
                          <option value='1' <if condition="$info['lang'] == 1 ">selected</if>>French</option>
                          <option value='2' <if condition="$info['lang'] == 2 ">selected</if>>Arab</option>
                       </select>
                        
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="control-label x100">{$Think.lang.vedio_url}：</label>
                        <input type="text" name="info[vediourl]" value="{$info.vediourl}" size="60" /> 
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="control-label x100">{$Think.lang.article_thumb}：</label>
                        <input type="text" id="thumbnail_text" name="info[thumbnail]" value="{$info.thumbnail}" size="60" />
                        <input type="button" id="thumbnail_btn" class="btn btn-info" value="{$Think.lang.select_pic}" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="control-label x100">{$Think.lang.article_content}：</label>
                        <div style="display: inline-block; vertical-align: middle;">
                            <textarea name="info[content]" style="width:784px;height:50px" data-toggle="kindeditor">{$info.content|htmlspecialchars}</textarea>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">{$Think.lang.close}</button></li>
        <li><button type="submit" class="btn-default" data-icon="save">{$Think.lang.save}</button></li>
    </ul>
</div>

<script type="text/javascript">
    // 单独调用KindEditor图片插件
    var editor = KindEditor.editor({
        allowFileManager : true
    });
    KindEditor('#thumbnail_btn').click(function() {
        editor.loadPlugin('image', function() {
            editor.plugin.imageDialog({
                imageUrl : KindEditor('#url1').val(),
                clickFn : function(url, title, width, height, border, align) {
                    KindEditor('#thumbnail_text').val(url);
                    editor.hideDialog();
                }
            });
        });
    });

    // 检查标题是否重复
    $("#checkNewsTitle").click(function() {
        $.getJSON("__URL__/checkArticleTitle", {
                title: $("#title").val(),
                id: "{$info.id}"
            }, function(json) {
                $("#checkNewsTitle").css("color", json.status == 1 ? "#0f0" : "#f00").html(json.info);
        });
    });
</script>