<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Infinix Note 2</title>
<link href="css/index.css?v=2015.12.10_10.40" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.11.2.min.js" type="text/javascript" language="javascript"></script>
<script src="js/jquery.rotate.min.js" type="text/javascript" language="javascript"></script>
<script src="js/mover.js?v=2015.12.9_10.04" type="text/javascript" language="javascript"></script>
<script src="js/lucky.js?v=2015.12.10_10.40" type="text/javascript" language="javascript"></script>
</head>

<body>
<div class="orderBox"<cmd>if ($restSecond > 0) { echo ' style="display:none;"'; }</cmd>>
	<img class="bgpic" src="./images/order1.jpg"/>
	<a href="http://www.lazada.co.id/infinix-note2/" target="_blank">
		<img class="bgpic" src="./images/order2.jpg"/>
	</a>
	<img class="bgpic" src="./images/order3.jpg"/>
</div>
<cmd>if ($restSecond > 0) {</cmd>
<div class="timeBox">
	<img class="bgpic" src="./images/1.jpg"/>
	<img class="bgpic" src="./images/2.jpg"/>
	<div class="box">
		<p class="title">NANTIKAN</p>
		<div class="time1">
			<p id="timeDay"></p>
			<p id="timeHour"></p>
			<p id="timeMinute"></p>
			<p id="timeSecond"></p>
		</div>
		<div class="time2">
			<p>Hari</p>
			<p>Jam</p>
			<p>Menit</p>
			<p>Detik</p>
		</div>
		<div class="price"><span>Infinix Note 2 Price : <span id="priceTxt">[secret]</span><img src="./images/topphone.png"/></div>
	</div>
</div>
<cmd>}</cmd>
<div class="videoBox">
	<!--<img class="bgpic" src="./images/3.jpg"/>
	<img class="bgpic" src="./images/4.jpg"/>-->
	<div class="youtubeVideo">
		<!--<iframe width="560" height="315" src="https://www.youtube.com/embed/5vvS-csfCso" frameborder="0" allowfullscreen></iframe>-->
		<iframe width="100%" height="640" src="https://www.youtube.com/embed/5vvS-csfCso" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<div class="phoneBox">
	<img class="bgpic" src="./images/5.jpg"/>
	<img class="bgpic" src="./images/6.jpg"/>
	<img class="bgpic" src="./images/7.jpg"/>
</div>
<div class="loginBox">
	<cmd>if ($isLogin) {</cmd>
		<img class="bgpic" src="./images/8.jpg"/>
	<cmd>} else {</cmd>
		<a href="{#$loginUrl#}" target="_self"><img class="bgpic" src="./images/8.jpg"/></a>
	<cmd>}</cmd>
</div>
<div class="luckyBox">
	<div class="box">
		<div class="left">
			<img class="arrow_left" src="./images/arrow_left.png"/>
			<p class="t1">Temukan keberuntunganmu disini<br />
			dan Dapatkan Hadiah Menarik Setiap Hari</p>
			<p class="t2">List of the prizes:<br />
			-6 units Infinix Smartphone<br />
			-12 units Infinix Infinix Power Bank<br />
			-60 units Voucher Pulsa Mobile Phone @50,000</p>
			<a id="startBtn" href="javascript:void(0);">
				<div class="panBox">
					<img id="pan" class="pan" src="./images/pan2.png"/>
					<img class="arrow" src="./images/arrow.png"/>
					<p>START</p>
				</div>
			</a>
		</div>
		<div class="right">
			<img class="arrow_right" src="./images/arrow_right.png"/>
			<p class="t1">Buat Slogan untuk Infinix Note 2 dan<br />
	Menangkan 2 Infinix Smartphone</p>
			<p class="t2">Peraturan Kontes :</p>
			<p class="t3">1. Likes dan shares semua post di Fanpages Infinix Indonesia mengenai Infinix Note 2 yang menggunakan hashtag #Note6 dan #TheNextInfinix<br />
	2. Temukan informasi dan pelajari fitur - fitur unggulan yang terdapat pada Infinix Note 2 --> http://infinixmobility.com/id/note2/<br />
	3. Buat slogan untuk Infinix Note 2, misalnya “Charge Your Life”, “Big Battery”, “More than Big” dalam bahasa Indonesia<br />
	4. Tulis slogan kamu di kolom komentar yang disediakan dengan menggunakan hashtag #‎SloganInfinixNote2 dan sertakan [nama lengkap] kamu sesuai identitas yang dimiliki (KTP, Kartu Pelajar, SIM)<br />
	5. Bersamaan dengan ide slogan tersebut, berikan alasan atau latar belakang yang mebuat kamu memilih slogan tersebut.
</p>
			<p class="t4">Contoh Jawaban :</p>
			<p class="t5">“Charge Your Life”<br />
			Slogan tersebut menurut saya cocok karena baterai Infinix Note 2 itu besar kapasitasnya #SloganInfinixNote2 oleh [Paijo Bejo]
</p>
			<div class="fbcontent">
				<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/infinixindonesia/posts/1644425955826186:0" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/infinixindonesia/posts/1644425955826186:0"><p>Slogan Contest untuk #Note6 yang merupakan #TheNextInfinix :) Kalian bisa mendapatkan 2 Infinix Smartphone secara gratis...</p>Posted by <a href="https://www.facebook.com/infinixindonesia/">Infinix Indonesia</a> on&nbsp;<a href="https://www.facebook.com/infinixindonesia/posts/1644425955826186:0">Sunday, 6 December 2015</a></blockquote></div></div>
				<!--
				<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1007219276002882";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
				<div class="fb-comments" data-href="https://www.facebook.com/285576404819047/photos/a.560579873985364.1073741825.285576404819047/560579907318694/?type=3&theater" data-width="500" data-numposts="5"></div>
				-->
				
				
				
				
				
			</div>
		</div>
	</div>
</div>
<div class="winnerBox">
	<div class="box">
		<div class="titleBar">
			<span class="title">Winner List</span>
			<ul id="winPage" class="winPage">
				<cmd>for ($i = 1; $i <= 5; $i++) {</cmd>
					<cmd>if ($page == $i) {</cmd>
						<li class="select"><img src="./images/page_select.png"/><p>12.<cmd>echo $i + 7;</cmd></p></li>
					<cmd>} else {</cmd>
						<li><a href="{#$pageUrl#}{#$i#}" target="_self"><p>12.<cmd>echo $i + 7;</cmd></p></a></li>
					<cmd>}</cmd>
				<cmd>}</cmd>
			</ul>
		</div>
		<ul class="winnerList">
			<cmd>foreach ($winList as $value) {</cmd>
			<li>
				<div class="wrapper">
					<img class="photo" src="{#$value['photo']#}"/>
					<p class="name">{#$value['username']#}</p>
					<p class="date">{#Utils::mdate('m.d.Y', $value['luckydate'])#}</p>
					<p class="award">{#Config::$prizeName[$value['prizeid'] - 1]#}</p>
					<div class="awardImg"><img src="./images/award{#$value['prizeid']#}.png"/></div>
				</div>
			</li>
			<cmd>}</cmd>
		</ul>
	</div>
	<div class="clear"></div>
</div>
<div class="winDlg">
	<div class="box">
		<img class="winDlgBg" src="./images/winDlgBg.png"/>
		<a id="winClose" href="javascript:void(0);"><img id="winClose" class="winClose" src="./images/winClose.jpg"/></a>
		<a id="winShareBtn" href="javascript:void(0);"><img id="fbshare" class="fbshare" src="./images/fbshare.png"/></a>
		<p id="winTip" class="winTip"></p>
	</div>
</div>
<cmd>if ($isLogin) {</cmd>
	<div class="infoBar">
		<img class="infoBg" src="./images/photobar.png"/>
		<img class="photo" src="{#$photo#}"/>
		<p class="username">{#$username#}</p>
	</div>
<cmd>} else {</cmd>
	<div class="loginBar">
		<a href="{#$loginUrl#}" target="_self"><img class="winDlgBg" src="./images/fblogin.png"/></a>
	</div>
<cmd>}</cmd>
<input type="hidden" id="isLocal" value="<cmd>if (Config::$isLocal) { echo 1; } else { echo 0; }</cmd>" />
<input type="hidden" id="isFb" value="<cmd>if (Config::$isFb) { echo 1; } else { echo 0; }</cmd>" />
<input type="hidden" id="appId" value="{#Config::$fbAppId#}" />
<input type="hidden" id="shareUrl" value="{#Config::$shareUrl#}" />
<input type="hidden" id="sharePic" value="{#Config::$sharePic#}" />
<input type="hidden" id="restLucky" value="{#$restLucky#}" />
<input type="hidden" id="restSecond" value="{#$restSecond#}" />
<input type="hidden" id="isLogin" value="<cmd>if ($isLogin) { echo 1; } else { echo 0; }</cmd>" />
<input type="hidden" id="isScroll" value="<cmd>if ($isScroll) { echo 1; } else { echo 0; }</cmd>" />
{#Config::$countCode#}
</body>
</html>
