   <script>
   $(function () {
	   $.formValidator.initConfig({
		   theme:'Default',mode:'AutoTip',formID:"myform",debug:true,submitOnce:true,onSuccess:function(){
				   edit();
			       return false;
			},onError:function(msg){
		}});
	   $("#areaName").formValidator({onShow:"",onFocus:"地区名称至少要输入1个字符",onCorrect:"输入正确"}).inputValidator({min:1,max:20,onError:"你输入的长度不正确,请确认"});
	   
   });
   function edit(){
	   var params = {};
	   params.id = $('#id').val();
	   params.areaName = $('#areaName').val();
	   params.parentId = $('#parentId').val();
	   params.isShow = $("input[name='isShow']:checked").val();
	   params.areaSort = $('#areaSort').val();
	   Plugins.waitTips({title:'信息提示',content:'正在提交数据，请稍后...'});
	   $.post("{:U('Admin/Areas/edit')}",params,function(data,textStatus){
			var json = WST.toJson(data);
			if(json.status=='1'){
				Plugins.setWaitTipsMsg({ content:'操作成功',timeout:1000,callback:function(){
				   location.href='{:U("Admin/Areas/index",array("parentId"=>$object["parentId"]))}';
				}});
			}else{
				Plugins.closeWindow();
				Plugins.Tips({title:'信息提示',icon:'error',content:'操作失败!',timeout:1000});
			}
		});
   }
   </script>
   <div class="bjui-pageContent">
       <form action="{:U('edit')}" id="myform" class="pageForm" data-toggle="validate" data-reload-navtab="true" name="myform" role="form">
        <input type='hidden' id='id' name="id" value='{$object.areaId}'/>
        <input type='hidden' id='parentId' name="parentId" value='{$object.parentId}'/>
        <table class="table table-hover table-striped table-bordered wst-form">
           <tr>
             <th width='120' align='right'>地区名称<font color='red'>*</font>：</th>
             <td><input type='text' id='areaName' name="areaName" class="form-control wst-ipt" value='{$object.areaName}' maxLength='25'/></td>
           </tr>
           <tr>
             <th align='right'>是否显示<font color='red'>*</font>：</th>
             <td>
             <label>
             <input type='radio' id='isShow1' name='isShow' value='1' <if condition="$object['isShow'] ==1 ">checked</if> />显示&nbsp;&nbsp;
             </label>
             <label>
             <input type='radio' id='isShow0' name='isShow' value='0' <if condition="$object['isShow'] ==0 ">checked</if> />隐藏
             </label>
             </td>
           </tr>
           <tr>
             <th align='right'>排序号<font color='red'>*</font>：</th>
             <td>
             <input type='text' id='areaSort' name="areaSort" class="form-control wst-ipt" value='{$object.areaSort}' style='width:80px' onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)" maxLength='8'/>
             </td>
           </tr>
        </table>
       </form>
       </div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
		<li><button id="submit" type="submit" class="btn btn-success" data-icon="save">保&nbsp;存</button></li>
	</ul>
</div>
<script src="__PUBLIC__/Js/functions.js"></script>