body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:80px;
  width:800px;
  height:450px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:450px;
}
#u1 {
  position:absolute;
  left:2px;
  top:217px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:130px;
  top:80px;
  width:800px;
  height:600px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u3 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:620px;
  top:90px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:340px;
  top:220px;
  width:150px;
  height:160px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:160px;
}
#u6 {
  position:absolute;
  left:2px;
  top:64px;
  width:146px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:351px;
  top:228px;
  width:30px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:443px;
  top:350px;
  width:27px;
  height:16px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:730px;
  top:90px;
  width:120px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:860px;
  top:90px;
  width:60px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:490px;
  top:310px;
  width:450px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:433px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:450px;
  height:1px;
}
#u14 {
  position:absolute;
  left:940px;
  top:304px;
  width:183px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:390px;
  top:240px;
  width:550px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:533px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:550px;
  height:1px;
}
#u17 {
  position:absolute;
  left:940px;
  top:240px;
  width:170px;
  height:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
