    <!-- <script src="__PUBLIC__/Js/daterangepicker.js"></script> -->
   <script>
   var ThinkPHP = window.Think = {
	        "ROOT"   : "__ROOT__"
	}
   var filetypes = ["gif","jpg","png","jpeg"];
   $(function () {
	   $.formValidator.initConfig({
		   theme:'Default',mode:'AutoTip',formID:"myform",debug:false,submitOnce:true,onError:function(msg){
		}});
	   
	   $("#adPositionId").formValidator({onFocus:"请选择广告位置"}).inputValidator({min:1,onError: "请选择广告位置"});
	   $("#adName").formValidator({empty:false,onFocus:"请输入广告标题"}).inputValidator({min:1,onError: "请输入广告标题"});
	   //$('#adDateRange').daterangepicker({format:'YYYY-MM-DD',separator:' 至 '});
	   /* <if condition="$object['adId'] !=0 ">
	   getAreaList("areaId2",{$object.areaId1},0,{$object.areaId2});
	   </if> */
   });
   function getAreaList(objId,parentId,t,id){
	   var params = {};
	   params.parentId = parentId;
	   $('#'+objId).empty();
	   if(t<1){
		   $('#areaId3').empty();
		   $('#areaId3').html('<option value="">请选择</option>');
	   }
	   var html = [];
	   $.post("{:U('Admin/District/queryByList')}",params,function(data,textStatus){
		    html.push('<option value="">请选择</option>');
			var json = WST.toJson(data);
			if(json.status=='1' && json.list.length>0){
				var opts = null;
				for(var i=0;i<json.list.length;i++){
					opts = json.list[i];
					html.push('<option value="'+opts.areaId+'" '+((id==opts.areaId)?'selected':'')+'>'+opts.areaName+'</option>');
				}
			}
			$('#'+objId).html(html.join(''));
	   });
   }
   $("#submit").click(function(){
	    $("#adPic").val($.trim($("#adFile").val()));
		$("#myform").submit();
	});
   function pic_upload_success(file, data) {
	    var json = $.parseJSON(data);
	    
	    $(this).bjuiajax('ajaxDone', json);
	    if (json[BJUI.keys.statusCode] == BJUI.statusCode.ok) {
	        $('#j_custom_pic').val(json.filename);
	        $('#j_custom_span_pic').html('<img src="'+ json.filename +'" width="100" />');
	    }
	}
   </script>
   <div class="bjui-pageContent">
	<iframe name="upload" style="display:none"></iframe>
			<form id="uploadform_Filedata" autocomplete="off" style="position:absolute;top:80px;left:115px;z-index:10;" enctype="multipart/form-data" method="POST" target="upload" action="{:U('uploadPic')}" >
				<div style="position:relative;">
				<input id="adFile" name="adFile" class="form-control wst-ipt" type="text" value="{$object.adFile}" readonly style="margin-right:4px;float:left;margin-left:8px;width:250px;"/>
				<div class="div1" style="position:absolute;left:280px;">
					<!-- <div class="div2">浏览</div> -->
					<input type="file" class="inputstyle" id="Filedata" name="Filedata" onchange="updfile('Filedata');" >
				</div>
				<div style="clear:both;"></div>
				<!-- <div >&nbsp;图片大小:1400 x 300 (px)(格式为 gif, jpg, jpeg, png)</div> -->
				<input type="hidden" name="dir" value="ads">
				<input type="hidden" name="width" value="1400">
				<input type="hidden" name="folder" value="Filedata">
				<input type="hidden" name="sfilename" value="Filedata">
				<input type="hidden" name="fname" value="adFile">
				<input type="hidden" id="s_Filedata" name="s_Filedata" value="">
				
				</div>
		</form>
       <form action="{:U('edit')}" id="myform" class="pageForm" data-toggle="validate" data-reload-navtab="true" name="myform" role="form">
        <input type='hidden' id='id' name="id" value='{$object.adId}'/>
        <table class="table table-hover table-striped table-bordered wst-form">
           <!-- <tr>
             <th align='right'>广告地区：</th>
             <td>
             <select id='areaId1' onchange='javascript:getAreaList("areaId2",this.value,0)'>
                <option value=''>请选择</option>
                <volist name="areaList" id="vo">
                <option value='{$vo['areaId']}' <if condition="$object['areaId1'] == $vo['areaId'] ">selected</if>>{$vo['areaName']}</option>
                </volist>
             </select>
             <select id='areaId2'>
               <option value=''>请选择</option>
             </select>
             (不选则默认整个商城)
             </td>
           </tr> -->
           <tr>
             <th align='right'>{$Think.lang.ad_position}<font color='red'>*</font>：</th>
             <td>
             <select id='adPositionId' name="adPositionId">
                <option value=''>{$Think.lang.select}</option>
                <option value='-1' <if condition="$object['adPositionId'] == -1 ">selected</if>>{$Think.lang.home_ad}</option>
                <option value='0' <if condition="$object['adPositionId'] == 0 ">selected</if>>{$Think.lang.product_ad}</option>
                <option value='1' <if condition="$object['adPositionId'] == 1 ">selected</if>>{$Think.lang.about_ad}</option>
                <option value='2' <if condition="$object['adPositionId'] == 1 ">selected</if>>{$Think.lang.support_ad}</option>
                <option value='3' <if condition="$object['adPositionId'] == 1 ">selected</if>>{$Think.lang.service_ad}</option>
                <volist name="goodsCatList" id="vo">
                <option value='{$vo['catId']}' <if condition="$object['adPositionId'] == $vo['catId'] ">selected</if>>{$vo['catName']}</option>
                </volist>
             </select>
             </td>
           </tr>
           <tr>
             <th width='120' align='right'>{$Think.lang.ad_title}<font color='red'>*</font>：</th>
             <td><input type='text' id='adName' name="adName" class="form-control wst-ipt" value='{$object.adName}' maxLength='25'/></td>
           </tr>
           <tr style="height:60px;">
             <th align='right'>{$Think.lang.ad_pic}<font color='red'>*</font>：</th>
             <td><input type="hidden" id="adPic" name="adPic" class="form-control wst-ipt" value=""/>
             </td>
           </tr>
           <tr>
             <th align='right'>{$Think.lang.preview}：</th>
             <td height='40'>
             	<div id="preview_Filedata">
               <img id='preview' src='__ROOT__/{$object.adFile}' height='152' <if condition="$object['adFile'] =='' ">style='display:none'</if>/>
               </div>
             </td>
             
           </tr>
          
           <tr>
	             <th width='120'>{$Think.lang.ad_info}：</th>
	             <td colspan='3'>
	            <!--  <textarea rows="2" style="width:788px" id='goodsSpec' name='goodsSpec'>{$object.goodsSpec}</textarea> -->
	             <textarea rows="2" cols="70" data-toggle="kindeditor" id='adDesc' name='adDesc'>{$object.adDesc}</textarea>
	             </td>
	           </tr>
           <tr>
             <th align='right'>{$Think.lang.ad_url}：</th>
             <td>
             <input type='text' id='adURL' name="adURL" class="form-control wst-ipt" value='{$object.adURL}'/>
             </td>
             <td rowspan='4' valign='top'>
	               <div style="display: inline-block; vertical-align: middle;">
							<div id="j_custom_pic_up" data-toggle="upload"
								data-uploader="{:U('upload')}" data-file-size-limit="1024000000"
								data-file-type-exts="*.jpg;*.png;*.gif;*.mpg" data-multi="true"
								data-on-upload-success="pic_upload_success"
								data-icon="cloud-upload">{$Think.lang.tele_pic}：</div>
							<input type="hidden" name="adPhoneImg" value="{$object.adPhoneImg}" id="j_custom_pic">
						    <span id="j_custom_span_pic"><img alt="" src="{$object.adPhoneImg}" width="100"></span>
						</div>
	             </td>
           </tr>
           <tr>
             <th align='right'>{$Think.lang.ad_video_url}：</th>
             <td>
             <input type='text' id='adVideo' name="adVideo" class="form-control wst-ipt" value='{$object.adVideo}'/>
             </td>
           </tr>
           <tr>
             <th align='right'>{$Think.lang.ad_time}<font color='red'>*</font>：</th>
             <td>
             <input type='text' name="adStartDate" data-toggle="datepicker" class="form-control"  value='{$object.adStartDate}'/>至
             <input type='text' name="adEndDate" data-toggle="datepicker" class="form-control"  value='{$object.adEndDate}'/>
             </td>
           </tr>
           <tr>
             <th align='right'>{$Think.lang.ad_sort}：</th>
             <td>
             <input type='text' id='adSort' name="adSort" class="form-control"  value='{$object.adSort}' style='width:80px' onkeypress="return WST.isNumberKey(event)" onkeyup="javascript:WST.isChinese(this,1)" maxLength='8'/>
             </td>
           </tr>
           <tr>
             <th align='right'>{$Think.lang.ad_lang}<font color='red'>*</font>：</th>
             <td>
             <select id='adLang' name="lang">
                <option value='0' <if condition="$object['lang'] == 0 ">selected</if>>English</option>
                <option value='1' <if condition="$object['lang'] == 1 ">selected</if>>French</option>
                <option value='2' <if condition="$object['lang'] == 2 ">selected</if>>Arab</option>
             </select>
             </td>
           </tr>
        </table>
       </form>
</div>
<div class="bjui-pageFooter">
	<ul>
		<li><button type="button" class="btn-close" data-icon="close">{$Think.lang.close}</button></li>
		<!-- <li><button type="submit" class="btn-default" data-icon="save">保存</button></li> -->
		<li><button id="submit" type="submit" class="btn btn-success" data-icon="save">{$Think.lang.save}</button></li>
	</ul>
</div>