<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.4, minimum-scale=0.4, maximum-scale=0.4, user-scalable=no" />
<title>Phantom5</title>
<link href="css/mobile_index.css?v=2015.11.13_18.58" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="page2">
	<a href="./?m=game&a=main" target="_self">
		<img src="./images/mobile/bg.jpg" class="bg" />
		<img src="./images/mobile/page2/line.png" class="line" />
		<p class="t2">Play Game, Win prizes from TECNO!!!</p>
		<p class="t3">Play game to get entertaining coins, share<br/>
		it on your Facebook. You can invite your<br/>
		friends to play the game, the more friends<br/>
		you invite, the more coins you will get.</p>
		<p class="t4">Game Time</p>
		<p class="t5">Nov.25 - Dec.8</p>
		<p class="t6">Prize</p>
		<p class="t7">The first Prize (3 persons): 32GB TF card + T-shirt</p>
		<p class="t8">The second Prize (3 persons): 16GB TF card + T-shirt</p>
		<p class="t9">The third Prize (4 persons): 8GB TF card + T-shirt</p>
		<img src="./images/mobile/page2/check_empty.png" class="checkboxEmpty" />
		<img src="./images/mobile/page2/check_ok.png" class="checkboxOk" />
		<p class="agree">I AGREE TO THE TERMS OF SERVICE</p>
		<div class="startBtn">
			<img src="./images/mobile/page2/finger.png" class="fingerprint" />
			<div class="enter">Click to Start</div>
		</div>
	</a>
</div>
{#Config::$countCode#}
</body>
</html>
