<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.4, minimum-scale=0.4, maximum-scale=0.4, user-scalable=no" />
<title>Phantom5</title>
<link href="./css/ke_mobile_index.css?v=2015.12.9_18.52" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="page1">
	<a href="{#$loginUrl#}" target="_self">
		<img src="./images/ke/mobile/page1/1.jpg" class="bg1" />
		<img src="./images/ke/mobile/page1/2.jpg" class="bg2" />
		<p class="t1">Be Entertained with TECNO <br/>
		Phantom 5</p>
		<p class="t2">Click to Enter</p>
		<p class="t3">Explore the map of entertainment from the fingertip</p>
	</a>
</div>
{#Config::$countCode#}
</body>
</html>
