<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.4, minimum-scale=0.4, maximum-scale=0.4, user-scalable=no" />
<title>Phantom5</title>
<link href="./css/ke_mobile_index.css?v=2015.12.9_18.52" rel="stylesheet" type="text/css" />
<script src="./js/jquery-1.11.2.min.js" type="text/javascript" language="javascript"></script>
</head>

<body>
<div class="page11">
	<div id="navBar" class="navBar">
		<div class="bg"></div>
		<a id="menuBtn" href="javascript:void(0);"><img class="menuBtn" src="./images/ke/mobile/menu_btn.png" /></a>
		<div class="username">{#$personal['username']#}</div>
		<img class="photo" src="{#$photo#}" />
	</div>
	<div id="navMenu" class="navMenu">
		<ul>
			<a href="./?m=game&a=introduction" target="_self"><li><span>Rules</span></li></a>
			<a href="./?m=game&a=main" target="_self"><li><span>Game</span></li></a>
			<a href="./?m=game&a=lucky" target="_self"><li><span>Lucky</span></li></a>
			<a href="./?m=game&a=winner" target="_self"><li><span>Winner</span></li></a>
			<a href="./?m=game&a=rank" target="_self"><li><span class="select">Rank</span></li></a>
		</ul>
	</div>
	<div id="coinBar" class="coin">
		<span class="coinNum">{#$personal['totalscore']#}</span>
		<img class="gem2" src="./images/ke/mobile/gem.png" />
	</div>
	<img src="./images/ke/mobile/bg.jpg" class="bg" />
	<img src="./images/ke/mobile/page9/title.png" class="title" />
	<img src="./images/ke/mobile/line.png" class="line1" />
	<img src="./images/ke/mobile/line.png" class="line2" />
	<img src="./images/ke/mobile/line.png" class="line3" />
	<div class="list">
		<ul>
			<cmd>foreach ($rank as $value) {</cmd>
			<li>
				<cmd>if ($value['isSelf']) {</cmd>
				<div class="selectFrame"></div>
				<div class="selectBg"></div>
				<cmd>}</cmd>
				<cmd>if ($value['rank'] <= 3) {</cmd>
				<img src="./images/ke/mobile/page9/{#$value['rank']#}.png" class="guang" />
				<cmd>} else {</cmd>
				<span class="rankNum">{#$value['rank']#}</span>
				<cmd>}</cmd>
				<img src="{#$value['photo']#}" class="photo" />
				<span class="name">{#$value['username']#}</span>
				<img src="./images/ke/mobile/page9/gem.png" class="gem" />
				<span class="coin">{#$value['totalscore']#}</span>
			</li>
			<cmd>}</cmd>
		</ul>
	</div>
	<a href="{#$prevLink#}" target="_self">
		<img src="./images/ke/mobile/page9/left.png" class="leftBtn" />
	</a>
	<a href="{#$nextLink#}" target="_self">
		<img src="./images/ke/mobile/page9/right.png" class="rightBtn" />
	</a>
	<div class="page">{#$pageStr#}</div>
</div>
<script>
$(document).ready(function()
{
	$("#navBar").click(onClickMenu);
});

function onClickMenu(e)
{
	$("#navMenu").slideToggle();
}
</script>
{#Config::$countCode#}
</body>
</html>
