<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户数统计</title>
<link href="css/admin.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="topbar">
	<span><a href="./?m=admin" target="_self">管理中心</a> | <a href="./?m=admin&a=logout" target="_self">退出</a></span>
</div>
<div class="change-pw">
	<h3>用户数统计</h3>
	总用户数：{#$totalUser#}&nbsp;&nbsp;总邀请数：{#$totalInvite#}<br />
	<br />
	<cmd>foreach ($dayList as $value) {</cmd>
		[{#$value['date']#}]&nbsp;&nbsp;新增用户：{#$value['userNum']#}&nbsp;&nbsp;新增邀请：{#$value['inviteNum']#}<br />
	<cmd>}</cmd>
</div>
</body>
</html>
