@charset "utf-8";
*{ margin:0; padding:0; list-style:none; }
body{font:12px/1.5 tahoma,arial,"Hiragino Sans GB",宋体,sans-serif;color:#444;margin:0;min-width:500px;scoll=no;overflow:hidden;}
body,div,form,img,ul,ol,li,dl,dt,dd,p{margin:0; padding:0; border:0;}
ul,li,ol,dl,dt,dd{list-style:none;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0; }
.clearfix:after, .clearfix:after, .main:after, .left:after, .right:after, dl:after, dt:after, dd:after, ul:after, li:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
i,em,var{ font-style:normal;}
/*文本框样式*/
/* 屏蔽文本框高亮 */
input,textarea{outline: none;}
/* link */
a{text-decoration: none;}
a:link{  color:#444; text-decoration: none;}
a:hover{ color:#444; text-decoration:none;}
a.blue{color:#3366cc;}
/*通用样式*/
.sl { color: #333; font-size : 10px!important; font-family: "微软雅黑"; }
.sl * { padding: 0; margin: 0; list-style: none; border: none; text-decoration: none; }
.sl body { font-size: 1.4em; line-height: 2.8em; }
.sl a{ color: #222; font-size: 1.4rem; line-height: 2.8rem;}
.sl-left { float: left; }
.sl-right { float: right; }
.sl-none-0 { display: none; }
/*字体样式*/
.ss{ font-family:"宋体";}
.sy{ font-family:"微软雅黑";}
/*字体大小*/
.ft12{font-size:1.4rem;}
.ft14{font-size:1.6rem;}
/*字体颜色*/
.slorange{ color:#f87500;}
.slgreen{ color:#2a9720;}
.blue{color:#3366cc;}
/*按钮样式*/
.sl-btn{font:normal 1.8rem "微软雅黑";color:#fff!important;background:#eb5674;border:none;border-radius:.3rem;width:10rem;height:4rem;line-height:4rem;display:inline-block;float:left;cursor:pointer;text-align:center;position:relative;}
.sl-btn:nth-child(1){margin-right:1.4rem;line-height:4rem;}
.sl-btn:nth-child(2){float:left;position:relative;line-height:4rem}
.sl-btn:nth-child(3){background:#fff;width:15rem;margin-right:-15rem;text-align:left;}
.sl-btn:hover{color:#eb5674!important;background:#fff;}
/*页面宽度*/

.container{width:100%;height:100%; position:absolute;background:url(../image/wallbg.png) repeat-x;}
#wishmain div{cursor:pointer;position:absolute;min-width:220px;min-height:150px;}
/*.wish{left:100px;top:100px;background:#fc9;}*/
#wishmain{position:relative;}
.wishbtn{top:80%;position:relative;}
.wbtn{width:21.4rem;height:4rem;left:50%;position:relative;margin-left:-10.9rem;}
.sl-search{display:;}
.sl-int{display:none;}
.int-btn{padding-left:.6rem;height:4rem;font-size:1.4rem;}
.search{width:4rem;height:4rem;float:right;left:5rem;background:url(../image/search.png) no-repeat;position:relative;cursor:pointer;top:-3.6rem;}

#wishmain div:nth-child(1){background:url(../image/tik1.png) no-repeat;width:310px;height:350px;}
#wishmain div:nth-child(2){background:url(../image/tik2.png) no-repeat;width:310px;height:350px;}
#wishmain div:nth-child(3){background:url(../image/tik3.png) no-repeat;width:310px;height:350px;}
#wishmain div:nth-child(4){background:url(../image/tik4.png) no-repeat;width:310px;height:350px;}
#wishmain div:nth-child(5){background:url(../image/tik5.png) no-repeat;width:310px;height:350px;}
#wishmain div:nth-child(6){background:url(../image/tik5.png) no-repeat;width:310px;height:350px;}
#wishmain div:nth-child(7){background:url(../image/tik5.png) no-repeat;width:310px;height:350px;}
#wishmain div:nth-child(8){background:url(../image/tik5.png) no-repeat;width:310px;height:350px;}
#wishmain div:nth-child(9){background:url(../image/tik5.png) no-repeat;width:310px;height:350px;}
#wishmain div:nth-child(10){background:url(../image/tik5.png) no-repeat;width:310px;height:350px;}

.wish .photo{width:56px;height:56px;background:#e67e22;display:block;float:left;margin:16px}
.wish .name{width:162px;height:30px;display:inline-block;float:left;margin-left:8px;margin-top:8px;}
.wish .time{width:162px;height:28px;display:inline-block;float:left;margin-left:8px;}
.wish .soli{width:220px;height:70px;float:left;margin-left:20px;}

.wall{display:block;width:265px;height:170px;top:175px;left:40px;position:relative;}


.cont{display:none;width:100%;height:100%;position:absolute;background:url(../image/cont.png) center;}
.cont-int{width:850px;margin:0 auto;top:50%;position:relative;margin-top:-285px;}
.cont-preview{width:374px;height:560px;float:left;margin-right:50px;}
.cont-preview p{padding-left:6px;font-size:2.6rem;font-weight:normal;color:#fff;}
.cont-preview .preview{width:350px;height:518px;border-radius:6px;border:2px #fff solid;padding:0 10px;float:left;display:block;overflow:hidden;}
.cont-content p{padding-left:6px;font-size:2.6rem;font-weight:normal;color:#fff;}
.cont-content .content{width:400px;height:189px;float:left;border-radius:6px;border:2px #fff solid;margin-bottom:8px;padding:10px;overflow:hidden;line-height:1.4rem;}
.cont-select p{padding-left:6px;font-size:1.8rem;font-weight:normal;color:#20856d;display:block;}
.cont-select span{display:block;width:420px;height:140px;float:left;margin-bottom:10px;}
.cont-select span a{display:inline-block;width:58px;height:140px;float:left;margin:16px 10px 0 10px;cursor:pointer;}
.cont-select span a i{display:none;top:66px;left:20px;position:relative;color:#eb5674;}
.cont-select span a:nth-child(1){background:url(../image/ti1.png) no-repeat;}
.cont-select span a:nth-child(2){background:url(../image/ti2.png) no-repeat;}
.cont-select span a:nth-child(3){background:url(../image/ti3.png) no-repeat;}
.cont-select span a:nth-child(4){background:url(../image/ti4.png) no-repeat;}
.cont-select span a:nth-child(5){background:url(../image/ti5.png) no-repeat;}
.cont-select span a:nth-child(6){background:url(../image/ti5.png) no-repeat;}
.cont-select span a:nth-child(7){background:url(../image/ti5.png) no-repeat;}
.cont-select span a:nth-child(8){background:url(../image/ti5.png) no-repeat;}
.cont-select span a:nth-child(9){background:url(../image/ti5.png) no-repeat;}
.cont-select span a:nth-child(10){background:url(../image/ti5.png) no-repeat;}

.sub-btn{width:310px;height:90px;float:left;border-radius:6px;background:#eb5674;cursor:pointer;}
.sub-btn:hover{background:#fff;}
.sub-btn .submit{display:block;line-height:90px;font-size:2.6rem;text-align:center;color:#fff;}
.sub-btn .submit:hover{color:#eb5674;}
.showall{min-width:300px;min-height:10px;background:#fdd;display:none;cursor:pointer;text-align:center;padding:6px 30px;box-shadow: 10px 10px 5px #888888;}
.showall p{font:12px/1.5em Tahoma,Helvetica,Arial;}
#wishmain div:nth-child(1){	-webkit-animation:ball 2s infinite;animation:ball 2s infinite;}
#wishmain div:nth-child(2){	-webkit-animation:ball5 1.2s infinite;animation:ball5 1.2s infinite;}
#wishmain div:nth-child(3){	-webkit-animation:ball3 2.1s infinite;animation:ball3 2.1s infinite;}
#wishmain div:nth-child(4){	-webkit-animation:ball4 2s infinite;animation:ball4 2s infinite;}
#wishmain div:nth-child(5){	-webkit-animation:ball5 1.5s infinite;animation:ball5 1.5s infinite;}
#wishmain div:nth-child(6){	-webkit-animation:ball6 3s infinite;animation:ball6 3s infinite;}
#wishmain div:nth-child(7){	-webkit-animation:ball 3s infinite;animation:ball6 3s infinite;}
#wishmain div:nth-child(8){	-webkit-animation:ball2 3s infinite;animation:ball6 3s infinite;}
#wishmain div:nth-child(9){	-webkit-animation:ball5 3s infinite;animation:ball6 3s infinite;}
#wishmain div:nth-child(10){	-webkit-animation:ball6 3s infinite;animation:ball6 3s infinite;}
@-webkit-keyframes ball{
	0%{
		-webkit-transform:translateY(0) rotate(0);
		        transform:translateY(0) rotate(0);
	}
	50%{
		-webkit-transform:translateY(-10px) rotate(5deg);
		        transform:translateY(-10px) rotate(5deg);
	}
	100%{
		-webkit-transform:translateY(0) rotate(0);
		        transform:translateY(0) rotate(0);
	}
}

@keyframes ball{
	0%{
		-webkit-transform:translateY(0) rotate(0);
		        transform:translateY(0) rotate(0);
	}
	50%{
		-webkit-transform:translateY(-10px) rotate(5deg);
		        transform:translateY(-10px) rotate(5deg);
	}
	100%{
		-webkit-transform:translateY(0) rotate(0);
		        transform:translateY(0) rotate(0);
	}
}
@-webkit-keyframes ball2{
	0%,
	100%{
		-webkit-transform:translate(5px,-5px) rotate(2deg);
		        transform:translate(5px,-5px) rotate(2deg);
	}
	50%{
		-webkit-transform:translate(-10px,5px) rotate(-10deg);
		        transform:translate(-10px,5px) rotate(-10deg);
	}
}
@keyframes ball2{
	0%,
	100%{
		-webkit-transform:translate(5px,-5px) rotate(2deg);
		        transform:translate(5px,-5px) rotate(2deg);
	}
	50%{
		-webkit-transform:translate(-10px,5px) rotate(-10deg);
		        transform:translate(-10px,5px) rotate(-10deg);
	}
}
@-webkit-keyframes ball3{
	0%,
	100%{
		-webkit-transform:translate(0,-5px) rotate(2deg);
		        transform:translate(0,-5px) rotate(2deg);
	}
	50%{
		-webkit-transform:translate(0,10px) rotate(-2deg);
		        transform:translate(0,10px) rotate(-2deg);
	}
}
@keyframes ball3{
	0%,
	100%{
		-webkit-transform:translate(0,-5px) rotate(2deg);
		        transform:translate(0,-5px) rotate(2deg);
	}
	50%{
		-webkit-transform:translate(0,10px) rotate(-2deg);
		        transform:translate(0,10px) rotate(-2deg);
	}
}
@-webkit-keyframes ball4{
	0%,
	100%{
		-webkit-transform:translate(-5px,-15px) rotate(2deg);
		        transform:translate(-5px,-15px) rotate(2deg);
	}
	50%{
		-webkit-transform:translate(10px,5px) rotate(-8deg);
		        transform:translate(10px,5px) rotate(-8deg);
	}
}
@keyframes ball4{
	0%,
	100%{
		-webkit-transform:translate(-5px,-15px) rotate(2deg);
		        transform:translate(-5px,-15px) rotate(2deg);
	}
	50%{
		-webkit-transform:translate(10px,5px) rotate(-8deg);
		        transform:translate(10px,5px) rotate(-8deg);
	}
}
@-webkit-keyframes ball5{
	0%,
	100%{
		-webkit-transform:translate(-5px,0) rotate(2deg);
		        transform:translate(-5px,0) rotate(2deg);
	}
	50%{
		-webkit-transform:translate(15px,-10px) rotate(-5deg);
		        transform:translate(15px,-10px) rotate(-5deg);
	}
}
@keyframes ball5{
	0%,
	100%{
		-webkit-transform:translate(-5px,0) rotate(2deg);
		        transform:translate(-5px,0) rotate(2deg);
	}
	50%{
		-webkit-transform:translate(15px,-10px) rotate(-5deg);
		        transform:translate(15px,-10px) rotate(-5deg);
	}
}
@-webkit-keyframes ball6{
	0%,
	100%{
		-webkit-transform:translate(0,0) rotate(2deg);
		        transform:translate(0,0) rotate(2deg);
	}
	50%{
		-webkit-transform:translate(0,-20px) rotate(-5deg);
		        transform:translate(0,-20px) rotate(-5deg);
	}
}
@keyframes ball6{
	0%,
	100%{
		-webkit-transform:translate(0,0) rotate(2deg);
		        transform:translate(0,0) rotate(2deg);
	}
	50%{
		-webkit-transform:translate(0,-20px) rotate(-5deg);
		        transform:translate(0,-20px) rotate(-5deg);
	}
}